*{
    margin: 0%;
    padding: 0%;
}
.vitae__firstpaper{
    width:100%;
    height: 100vh;
}
.vitae__img{
    margin:50px;
    width: 170px;
    height: 70px;
}
.vitae__img img{
    width:70px;
    height: 70px;
    float: left;
}
.vitae__img .font{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    padding: 10px;
}
.vitae__largehezi{
    margin: 200px auto;
    width: 800px;
    height: 600px;
}
.vitae__largefont{
    margin: 50px auto;
    font-size:100px;
    font-weight: bold;
    writing-mode: vertical-lr;
    letter-spacing: 20px;
}
.vitae__name{
    font-size: 16px;
    text-align: center;
}
.vitae__school{
    text-align: center;
    font-size:small;
}
.vitae__ContactInformation{
    text-align: center;
    font-size: smaller;
    margin: 10px;
}
/* 简历侧边栏css布局 */
.vitae__sidebar{
    width:30vh;
    height: 100vh;
    /* border: 1px solid black; */
    float: left;
}
.viate__photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.vitae__homepage{
    width:70vh;
    height: 100vh;
    /* border: 1px solid black; */
    float: left;
}

